*{
    background-color: grey;
    padding: 0;
    margin: 0;
    font-family: 'Tapestry', cursive;
}
header{
    margin: 20px;
    display: flex;
    justify-content: center;
}
header .sign{
    width: 40vw;
}
main{
    display: flex;
    justify-content: center;
}
main .tesla{
    width: 40vw;
    border: 1px black solid;
    border-radius: 160px;
}
.des{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.des h3{
    font-size: 2em;
}
.quote{
    padding:10vw 20vw;
    font-size: 1.8em;
}